.Block{
  width: 150px;
  height: 150px;
  border: 5px solid black;
  background-size: cover;
  display: inline-block;
}
.mark1{
  background-image: url('Images/dot1.jpg');
}

.mark2{
  background-image: url("Images/cross.jpg");
}